.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10rem 5%;
  gap: 3rem;
  max-width: 100%;
  z-index: 1;
}

.text-column {
  width: 50%;
}

.section-title {
  position: absolute;
  left: 10%;
  margin-top: 10rem;
  text-align: center;
  font-family: 'The Seasons', serif;
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3a2c25;
  border-bottom: 1px solid #3a2c25;
  padding-bottom: 0.5rem;
  width: fit-content;
}

.title-labs{
  margin-right: 85%;
  display: inline-block;
  border-bottom: 1px solid #270f00;
  padding-bottom: 50px;

}

.text-about {
  position: absolute;
  left: 10%;
  top: 30rem;
  width: 40vw;
  text-align: left;
  font-family: 'Arapey', serif;
  color: #3a2c25;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  word-wrap: break-word;
}

/* My Image */
.img-about {
  padding: 0;
  background: none;
  cursor: pointer;
  width: 400px;
  height: auto;
  display: block;
}

.img-about img {
  width: 100%;
  border: 1px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  display: block;

   cursor: pointer;
  transition: all 0.3s ease;
}

.img-about:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.00);
}

.button-cv{
  position: absolute;
  left: 60%;
  margin-top: 25rem;
  text-align: center;
  width: fit-content;
  z-index: 2;
}

.description{
   font-family: 'Arapey', serif;
    font-style: italic;
    font-size: 1.5rem;
    margin: 3%;
    margin-right: 0%;
    color: #3a2c25;
}

