.labs-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10rem 5%;
  gap: 3rem;
  max-width: 100%;
}

.text-column {
  width: 50%;
}

.text-about {
  text-align: left;
  font-family: 'Arapey', serif;
  color: #3a2c25;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  word-wrap: break-word;
}

.about-section {
  padding: 2rem;
  max-width: 100%;
}

.labs-title {
  position: absolute;
  left: 5%;
  margin-top: 30rem;
  text-align: center;
  font-family: 'The Seasons', serif;
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3a2c25;
  border-bottom: 1px solid #3a2c25;
  padding-bottom: 0.1rem;
  width: fit-content;
}

.text-about {
  position: absolute;
  left: 5%;
  top: 30rem;
  width: 40vw;
  text-align: left;
  font-family: 'Arapey', serif;
  color: #3a2c25;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
  word-wrap: break-word;
}

/* Columna de imagen */
.img-about {
  width: 50%;
  margin-top: 100px;
  margin-right: 100px;
}

.img-about img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}



